body {
  background-color: whitesmoke;
}
header {
  color: white;
  padding: 8px;
  text-align: center;
  text-transform: uppercase;
  background-color: teal;
}
#box {
  width: 330px;
  height: 240px;
  background-color: white;
  margin: 60px auto;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}

#box div {
  border-radius: 50%;
  border: 1px solid lightgray;
  box-sizing: border-box;
  text-align: center;
}
#ball1 {
  height: 30px;
  width: 30px;
  background-color: gold;
  flex-shrink: 0;
}
#ball2 {
  height: 40px;
  width: 40px;
  background-color: greenyellow;
  flex-grow: 1;
}
#ball3 {
  height: 50px;
  width: 50px;
  background-color: dodgerblue;
  flex-grow: 2;
}
#ball4 {
  height: 60px;
  width: 60px;
  background-color: deeppink;
  flex-grow: 6;
}
/* #ball5 {
  height: 100px;
  width: 100px;
  background-color: darkseagreen;
  flex-shrink: 2;
}
#ball6 {
  height: 110px;
  width: 110px;
  background-color: darkorchid;
  flex-shrink: 2;
} */
